nav {
    display: flex;
    align-items: center;
    height: 12vh;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.logo {
    margin-right: 5vw;
}

.menu-btn {
    display: none;
    position: absolute;
    margin-right: 2vw;
}


.nav-items {
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 100%;
}

.nav-items a {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.nav-items a:hover {
    cursor: pointer;
}

.nav-items a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
} 

.nav-items-back {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.cart {
    color: hsl(220, 14%, 75%);
    margin-left: auto;
    margin-right: 2vw;
}

.cart:hover {
    cursor: pointer;
    color: hsl(220, 13%, 13%);
}

.avatar {
    width: 50px;
}

.avatar:hover {
    cursor: pointer;
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50px;
}

@media screen and (max-width: 950px) {
    nav {
        padding: 3%;
        padding-inline: 5%;
        border-bottom: none;
    }
    .menu-btn {
        display: block;
        z-index: 2;
    }

    .menu-btn.opened {
        position: fixed;
    }

    .logo {
        margin-left: 7vw;
    }

    .nav-items {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 60vw;
        background-color: white;
        padding: 12vh 5vw;
        gap: 3vh;
        align-items: start;
        transition: 0.3s ease-in-out;
        transform: translateX(-100vw);
        flex-direction: column;
    }

    .nav-items-back {
        display: block;
        z-index: 0;
        transform: translateX(-100vw);
    }

    .nav-items-back.opened {
        z-index: 1;
        transition: 0.5s ease-in-out;
        opacity: 1;
        transform: none
    }

    .nav-items a {
        font-weight: 700;
        height: auto;
    }

    .nav-items a:hover::after  {
        display: none;
    }

    .nav-items.opened {
        transform: none
    } 
    
    .cart {
        margin-right: 7vw;
    }

    .avatar {
        width: 30px;
    }
}